@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient( to right, #F2CFB8, #B9BDA7);
}

p {
    text-align: justify;
}

h1 {
    color:#105762;
    text-align:center;
}

h2 {
    color: #FF6B53;
}

main {
    background-color: white;
    width: 600px;
    padding: 100px;
    margin:  100px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 25px  #947f7185
}